<h4>Create a Post</h4>

<%= render 'shared/errors', obj: @post %>

<div class='well'>
<%= form_for @post do |f| %>  <!--  actually is PATCH /posts/:id. to tell model backed form to submit to nested structure change to form_for [@post, @comment] ???? -->
	<div class='control=group'>
	<%= f.label :title %>
	<%= f.text_field :title %>
	</div>
	<div class='control=group'>
	<%= f.label :url %>
	<%= f.text_field :url %>
	</div>
	<div class='control-group'>
	<%= f.label :description %>
	<%= f.text_area :description, rows: 5 %>
	</div>
	<div class='control-group'>
		<%= f.label "Categories" %>
<!-- below 2 lines are the collection checkboxes code -->
		<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
		<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
	<%= f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
<% end %>
</div>